.input {
  border: 1px solid black;
  padding: 1rem;
  font-size: 1.6rem;
}

.input::placeholder {
  font-size: 1.4rem;
  color: #aaa;
}

.input:focus {
  outline: none;
  border: var(--border-primary);
}
